@model PechShop.ViewModels.OrderViewModel


<h2>Создать</h2>

<h4>Заказ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="SelectedCustomerId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedCustomerId, Model.CustomerList, new {@class="form-control" })
                <span asp-validation-for="SelectedCustomerId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SelectedProductId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedProductId, Model.ProductList, new {@class="form-control" })
                <span asp-validation-for="SelectedProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductsNumber" class="control-label"></label>
                <input asp-for="ProductsNumber" class="form-control" />
                <span asp-validation-for="ProductsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Назад к списку заказов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
